//  Mixins imports
@import 'base';
@import 'variables';
@import 'mixins';
@import 'form';
@import 'support_pages'; // General style
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:500,600|Ubuntu:400,500,700');

body {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

.inner {
  max-width: 1300px;
  width: 85vw;
  margin: 0 auto;
  padding: 80px 0;
}

.grey-bg {
  background-color: $grey;
  color: $purple;
}

.purple-bg {
  background-color: $purple;
  color: white;
}

.blue-bg {
  background-color: $blue;
  color: white;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
  text-transform: capitalize;
  padding: 20px 0;
}

h2 {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 15px;
}

h3 {
  font-size: 2em;
  font-style: italic;
  padding: 10px 0;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
}

a {
  color: white;
  text-decoration: none;
}

span.text-emphasize {
  font-style: normal;
  color: $yellow;
}

.btn {
  background-color: $orange;
  padding: 20px 30px;
  border-radius: 3px;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $orange-hover;
  }
}

.btn-light {
  border: solid 1px $orange;
  border-radius: 3px;
  padding: 8px 16px;
  margin-left: 20px;

  a:hover {
    color: white;
  }
}
// Components style

header {
  .inner {
    padding: 25px 0;
  }

  nav {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;

    a {
      text-transform: uppercase;
      text-decoration: none;
    }

    a:hover {
      border-bottom: solid white 2px;
    }

    .header-left {
      justify-self: left;

      a:hover {
        border: none;
      }

      img {
        width: 150px;
        height: auto;
      }
    }


    .header-right {
      justify-self: end;
      a {
        margin-right: 20px;
      }

      .btn-light:hover {
        background-color: $orange-hover;
        border: $orange-hover solid 1px;
      }
    }
  }
}

#hero {
  .inner {
    padding: 80px 0;
  }

  .hero-cta {
    display: flex;
    justify-content: center;

    .btn {
      margin: 50px 0;
    }

    .btn-left {
      margin-right: 30px;
    }
  }
}

#numbers {
  height: 300px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url("/images/business_people2.png");
  background-position: right 50% bottom 73%;
  background-size: cover;

  h3 {
    margin-top: 30px;
  }

  .numbers-container {
    width: 750px;
    position: relative;
    bottom: 20px;
    background-color: $grey;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    color: $grey-dark;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    padding: 0 50px;

    .dark-container {
      background-color: $grey-dark;
      width: 135px;
      border-radius: 3px;
      margin-top: 10px;
      padding: 16px;
      text-align: center;
      color: white;
      font-size: 40px;
      font-family: 'Barlow Condensed', sans-serif;
    }
  }
}

#benefits {
  background-color: $grey;
  color: $purple;
  h2 {
    margin-bottom: 50px;
  }

}

.benefits {
  max-width: 1200px;
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.benefit {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  img {
    padding-right: 20px;
  }
}

.benefit-copy {
  max-width: 350px;
  h4 {
    text-align: left;
    font-size: 30px;
    font-weight: 600;
  }
  p {
    line-height: 1.4em;
  }
  a {
    text-transform: none;
    color: $orange;
  }
}

#brands {
  text-align: center;
  h4 {
    font-weight: 400;
    font-size: 25px;
    padding: 30px 0;
  }
  .inner {
    padding: 25px 0;

  }

  .brand-logos {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    padding: 20px 0;
    img {
      width: 120px;
      height: auto;
    }
}
}

#features {
  h2 {
    margin-bottom: 50px;
  }

  .features-list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
    max-width: 1150px;

    .feature {
      text-align: center;
    }
    img {
      margin-bottom: 15px;
    }

    p {
      line-height: 1.4em;
    }
  }
}

#cta {
  .inner {
    text-align: center;
  }

  .btn {
    display: inline-block;
    margin-top: 20px;
  }
}

footer {


  .inner {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 50px;

    p {
      max-width: 380px;
    }

    .logo-tagline img {
      margin-bottom: 20px;
      width: 200px;
      height: auto;
    }

    p {
      line-height: 1.5em;
      font-size: 15px;
      font-weight: 400;
      color: $grey;
    }

    ul {
      list-style-type: none;

      li {
        padding-bottom: 10px;
        text-transform: capitalize;
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .payment img {
      margin-right: 8px;
      margin-bottom: 8px;

    }
  }
}

.category {
  font-weight: 700;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-size: 20px;
}

.sub-footer {
  padding-bottom: 20px;
  text-align: center;
  color: $grey;
}

.advertisers {

}

@media (max-width: 800px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .inner {
    padding: 40px 0;
  }

  .btn {
    padding: 15px 18px;
    font-size: 1em;
  }
  // Components
  nav {
    .header-right {
      display: none;
    }
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    img {
      min-width: 150px;
      height: auto;
    }
  }

  #numbers {
    display: none;
  }

  #hero {
    .inner {
      padding: 30px 0;
    }
  }

  #brands {
    .brand-logos {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  }

footer {
  padding: 10px;
  .inner{
    grid-template-columns: 1fr;
    grid-row: 4fr;
    grid-gap: 50px;  }
}

}
