@import 'base';
@import 'variables';
@import 'fonts';

a {
  text-decoration: none;
}

#header {

}

#hero {
  background-color: $cool-purple;
  color: white;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  h1 {
    font-style: Bold;
    font-size: 60px;
    text-align: center;
  }
  h3 {
    font-size: 36px;
    text-align: center;
    font-style: italic;
    font-weight: 400;

  }
  span.text-emphasize{
    font-style: normal;
    color: $light-yellow;
  }
}
