
//  Mixins imports

@import 'base';
@import 'variables';
@import 'mixins';

// General style

@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:600');

.wrapper {
  width: 100vw;
}

.inner {
  width: 90vw;
  margin: 0px auto;
}

h1, h2, h3 {
  font-family: 'Bitter', serif;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
  padding-top: 150px;
}

h3 {
  font-size: 36px;
  font-style: italic;
  margin-top: 50px;
}

p, a {
  font-family: 'Roboto', sans-serif;
}

body {
  box-sizing: border-box;
}

a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

span.text-emphasize{
  font-style: normal;
  color: $yellow;
}

.btn {
  background-color: $orange;
  padding: 25px 40px;
  border-radius: 3px;
  font-size: 19px;
  font-weight: 500;
}

.btn-light {
  border: solid 2px $orange;
  border-radius: 3px;
  padding: 10px 25px;
  margin-left: 20px;
}



// Components style

header {
  @include purple-bg;
  nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    align-items: center;
    .header-left {
      justify-self: start;
      a {
        margin-right: 20px;
      }
    }
    .header-center {
      justify-self: center;
      img {
        width: 75%;
        height: auto;
      }
    }
    .header-right {
      justify-self: end;
    }
  }
}



#hero {
  @include purple-bg;
  .hero-cta {
    display: flex;
    justify-content: center;
    .btn {
      margin-top: 100px;
      margin-bottom: 130px;
    }
    .btn-left {
      margin-right: 30px;
    }
  }
}



#numbers {
  @include purple-bg;
  height: 300px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url("/images/business_people.png");
  background-position: right 50% bottom 73%;
  background-size: cover;
  .numbers-container {
    width: 750px;
    position: relative;
    bottom: 20px;
    background-color: $grey;
    padding: 40 px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    color: $grey-dark;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    padding: 0 50px;
    .dark-container {
      background-color: $grey-dark;
      width: 135px;
      border-radius: 3px;
      margin-top: 10px;
      padding: 16px;
      text-align: center;
      color: white;
      font-size: 30px;
      font-family: 'Barlow Condensed', sans-serif;

    }
  }
}



#benefits {
  background-color: $grey;

}
