<footer class="wrapper">
  <div class="inner">

    <div class="logo-tagline">
      <%= image_tag ('logo.svg') %>
      <p>RavalAds is a Barcelona based brand-safe programmatic platform that provides cross-device solutions for publishers and advertisers.</p>
    </div>

    <div class="links-left">

    </div>

    <div class="links-right">

    </div>

    <div class="direction-paypal-visa">

    </div>

  </div>

  <div class="">
    <p>© RavalAds 2018. All Rights Reserved.</p>
  </div>

</footer>
