<div class="wrapper grey-bg support-pages">
  <div class="inner">
<h1>About Us</h1>
    <h4>RavalAds was founded in Barcelona in 2017. </h4>
      <h4>We are committed to applying programmatic advertising technology for performance marketing.
</h4>
    <p>RavalAds is one of the fastest raising advertising platforms globally and specialized in programmatic advertising technologies.
</p>
    <p>Established in 2017 with passionate & experienced people (we have been working for more than 8 years in the digital marketing area), RavalAds provides advertisers high ROIs, and offers publishers a wide range of monetization solutions.
    RavalAds ad platform has a coverage of over twenty billion ad impressions monthly, and is capable to process more than 10 000 ad requests every second (QPS) with its advanced prediction engines.
</p>
    <p>We tend to be aware of the latest innovations in the market in order to provide you the best technology for your marketing goals.
</p>
    <p>We are also keen to share our passion with you and to give you the best service quality.
</p>
  </div>
</div>
