<section id="features" class="wrapper grey-bg">

  <div class="inner advertisers">
    <h1>Advertisers</h1>
    <h2>Maximize your ROI with our deep learning algorithm</h2>

  <div class="features-list">
    <!-- Feature #1 -->
    <div class="feature">

      <h4>Private Marketplace</h4>
      <p>Get access to the most premium marketplace. We are also connected to the wildest SSPs in order to offer you the reach you need</p>
    </div>

    <!-- Feature #2 -->
    <div class="feature">

      <h4>Fraud control</h4>
      <p>Thanks to strong anti fraud tools, we are able to exclude bad quality traffic and only propose you the best inventory in the market</p>
    </div>

    <!-- Feature #3 -->
    <div class="feature">

      <h4>Artificial Intelligence</h4>
      <p>Our deep learning algorithm identify automatically non converting source and block them on the go 24/24</p>
    </div>

    <!-- Feature #4 -->
    <div class="feature">

      <h4>Large Traffic</h4>
      <p>Exposure to 500m+ users everyday, worldwide through mobile and desktop display</p>
    </div>

    <!-- Feature #5 -->
    <div class="feature">

      <h4>Smart Targeting</h4>
      <p>Our multifunctional platform allows both publishers and advertisers to connect universally</p>
    </div>

    <!-- Feature #6 -->
    <div class="feature">

      <h4>Multi Sizes</h4>
      <p>Select the best format among the best converting formats (native, banners, push notification, pop)</p>
    </div>
  </div>
</div>
</section>

<section id="cta" class="wrapper purple-bg">
  <div class="inner">
    <h2>Work with us !</h2>
    <h3>Feel free to contact us
      <span class="text-emphasize">for any request</span>
      you may have</h3>
    <%= link_to 'Contact us', '/contact.html', class: 'btn' %>
  </div>
</section>
