<section id="hero" class="wrapper">
  <div class="inner">
    <h1>The global programmatic platform</h1>
    <h3>helping
      <span class="text-emphasize">Advertisers</span>
      and
      <span class="text-emphasize">Publishers</span>
      to maximize revenues</h3>
    <div class="hero-cta">
      <%= link_to 'for publishers', '/publishers.html', class: 'btn btn-left' %>
      <%= link_to 'for advertisers', '/advertiers.html', class: 'btn btn-right' %>
    </div>
  </div>
</section>

<section id="cta" class="wrapper">
  <div class="inner">
    <h2>Work with us !</h2>
    <p>Your questions are important to us. Please feel free to contact us for any request you might have regarding our service.</p>
    <%= link_to 'Contact us', '/contact.html', class: 'btn' %>
  </div>
</section>
