<div class="wrapper bg-grey">
  <h1>Contact Us</h1>
  <h4>Let us your contact information, we'll get back to you within 2 business days.</h4>

  <form name="contact" method="POST" class="form-labels-on-top" action="#" netlify="netlify">
    <div class="form-title-row"></div>
    <div class="form-row">

      <label>
        <span>You're contacting us as</span></label>
      <div class="form-radio-buttons">

        <div>
          <label>
            <input type="radio" name="radio">
            <span>Publisher</span>
          </label>
        </div>

        <div>
          <label>
            <input type="radio" name="radio">
            <span>Advertiser</span>
          </label>
        </div>

        <div>
          <label>
            <input type="radio" name="radio">
            <span>Other</span>
          </label>
        </div>

      </div>
    </div>
    <div class="form-row">
      <label>
        <span>Full name</span>
        <input type="text" name="name" placeholder="Tyler Durden">
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Business Email</span>
        <input type="email" name="email" placeholder="tyler.durden@fight-club.io">

      </label>
    </div>
    <div class="form-row">
      <label>
        <span>Skype ID</span>
        <input type="text" name="name" placeholder="tyler48">
      </label>
    </div>
    <div class="form-row">
      <label>
        <span>Website URL</span>
        <input type="text" name="name" placeholder="http://fight-club.io">
      </label>
    </div>
    <!-- <div class="form-row"> <label> <span>Message</span> <textarea type="text" name="name"></textarea> </label> </div> -->

    <div class="form-row">
      <button type="submit">Send Message</button>
    </div>
  </form>

</div>
