<div class="wrapper grey-bg support-pages">
  <div class="inner">
    <h1>Privacy Policy</h1>
    <p>These privacy policies are part of the General Conditions for the use of http://ravalads.com.</p>

    <p>All personal information provided to RavalAds LTD or RavalAds Servicios Online Barcelona S.L. (hereinafter RavalAds) through the Website or through any other electronic means made available to users will be handled with the utmost confidentiality.</p>

    <p>We are committed to protecting and respecting the privacy of our partner data and the one of their final customers. About RavalAds: we are a B to B operator and has such may collect information from our business partners (customers or providers)
      in order to conduct business with them.</p>

    <p>We do not collect personally identifiable data about the viewer of ads we promote. We do, however, record and use information that is not personally identifiable, including but not limited to the following: the IP address of the viewer device, to
      do geo-targeting, to identify mobile operator, connection type, and other details;the ‘user agent’ of the browser or application, and other relevant request headers, to help us identify your the device type; the date and time of the ad delivered a
      unique identifier, such as an HTTP cookie or an device advertising identifier, that enables us not to show the same ad over and over again. Rights of affected parties: RavalAds commits itself to respecting and facilitating interested parties
      exercising their rights recognized by regulations in matters of data protection and, in particular, the rights to access, rectify, cancel and oppose data.
      <p>Said rights may be exercised by sending a request at info@RavalAds.com, attaching a photocopy of ID and specifying the right being exercised. Quality of the data: When you provide information to RavalAds, you guarantee and are accountable, in any
        case, for the information provided to be true, accurate and complete and you commit yourself to keeping it up to date. The registration of your data through the use of the signup form is mandatory, at least for those fields marked as such, and you
        have been informed and have provided your consent to the contents of this privacy policy.</p>

      <p>Not providing said data or the supply of incorrect data shall make it impossible for RavalAds to operate with you. Moreover, RavalAds commits itself to never using personal data for purposes different from those specified in this privacy policy
        nor transfer them unlawfully to third parties. Security measures: RavalAds states and guarantees that it maintains security levels for the protection of personal data in conformity with current legislation and that it has implemented all the
        technical means available to it to avoid loss, misuse, alteration, unauthorized access and theft of the data provided by users. Commercial communications: Our partners may manifest the desire not to receive future commercial communication at any time
        by sending an email to info@RavalAds.com, also, by following the instructions at the end of each commercial communication through the unsubscribe link.</p>

      <h4>COOKIES</h4>
      <br>
      <p>This Website, as many others, uses cookies for a better experience while browsing the Internet. In this section, we inform you of what they are, which ones we use and how you can control them What are cookies? Cookies are small files with text and
        numbers placed in the hard drive of your electronic device when you visit a website. Cookies allow for the identification of a user from the rest in order to provide a better experience while browsing the Website at the same time as helping to
        improve it. Cookies may be classified according to their duration in session and permanent cookies and according to their source as first-party or third-party.
        <p>Cookies used: While visiting our Website, said third-party cookies are generated. Buttons for social networks (third parties) have been enabled on our Website with the purpose of allowing you to share contents of interest with your contacts or to
          follow us on social networks. Said third parties may set their own cookies with the purpose of customizing the application and measuring its functionality.</p>
        <p>Because of how these cookies function, RavalAds cannot access them, in the same fashion that third parties cannot access the data of cookies used by us. Therefore, we recommend that you visit the websites of said third parties to understand their
          operation.</p>
        <p>Controlling the use of cookies in your browser: You have the ability to accept or reject cookies. Currently, all browsers allow you to adjust the configuration to activate or deactivate the storage or cookies or reject them from specific sites.</p>
        <p>Cookies description: "Session cookies" are those that are temporarily stored and expire immediately after leaving a website. "Permanent cookies" are those that allow a website to remember you for subsequent visits, improving your experience while
          browsing through the functions you have installed. "First-party cookies" are those installed by the website you are browsing itself. "Third-party cookies" are those installed by websites different from the one you are visiting. "Google cookies" are
          used to identified the requesting account, filling the web history folder and providing personalized search results and suggestions.</p>
        <p>Contact: To obtain further information about this Privacy Policy or the use of cookies on our Website you can contact us at info@ravalads.com</p>

      </div>

    </div>
