<section>

</section>

<section id="cta" class="wrapper purple-bg">
  <div class="inner">
    <h2>Work with us !</h2>
    <h3>Feel free to contact us <span class="text-emphasize">for any request</span> you may have</h3>
    <%= link_to 'Contact us', '/contact.html', class: 'btn' %>
  </div>
</section>
