<<<<<<< HEAD
<section id="hero" class="wrapper">
  <div class="inner">
    <h1>The global programmatic platform</h1>
    <h3>helping
      <span class="text-emphasize">Advertisers</span>
      and
      <span class="text-emphasize">Publishers</span>
      to maximize revenues</h3>
    <div class="hero-cta">
      <%= link_to 'for publishers', '/publishers.html', class: 'btn btn-left' %>
      <%= link_to 'for advertisers', '/advertiers.html', class: 'btn btn-right' %>
    </div>
  </div>
</section>

<section id="cta" class="wrapper">
  <div class="inner">
    <h2>Work with us !</h2>
    <p>Your questions are important to us. Please feel free to contact us for any request you might have regarding our service.</p>
=======
<section id="features" class="wrapper grey-bg">

  <div class="inner advertisers">
    <h1>Publishers</h1>
    <h2>Drive more ad revenue from programmatic demand</h2>

  <div class="features-list">
    <!-- Feature #1 -->
    <div class="feature">

      <h4>Fast Payments</h4>
      <p>Our publisher payment requests are processed on a weekly basis</p>
    </div>

    <!-- Feature #2 -->
    <div class="feature">

      <h4>Great Coverage</h4>
      <p>Our hundreds of advertisers on different countries are guaranteeing you a high coverage rate</p>
    </div>

    <!-- Feature #3 -->
    <div class="feature">

      <h4>High CPMs</h4>
      <p>We like competition and our DSP partners and direct advertisers will compete all together in order to give you the highest rates</p>
    </div>

    <!-- Feature #4 -->
    <div class="feature">

      <h4>Real time statistics</h4>
      <p>Monitor your traffic and your earnings in real-time thanks to our LIVE dashboard. Reports by tag, country and subid</p>
    </div>

    <!-- Feature #5 -->
    <div class="feature">

      <h4>24/7 support</h4>
      <p>Get in touch at anytime with our support team</p>
    </div>

    <!-- Feature #6 -->
    <div class="feature">

      <h4>Easy implementation</h4>
      <p>Pick the best way of integration in platform and start earning revenues straight away !
</p>
    </div>
  </div>
</div>
</section>

<section id="cta" class="wrapper purple-bg">
  <div class="inner">
    <h2>Work with us !</h2>
    <h3>Feel free to contact us
      <span class="text-emphasize">for any request</span>
      you may have</h3>
>>>>>>> 2bf44687abf8db319da37220a3dab45d629fd79d
    <%= link_to 'Contact us', '/contact.html', class: 'btn' %>
  </div>
</section>
